
body {

    background-image: url(images/pexels-pixabay-268533.jpg);   
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
.container img{

    width: 100px; 
    height: 100px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(255, 252, 252);
    transition: all ease-out 0.5s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
 

 
   
 }
    
    
     


header {
    background-color: black;
    color: white;
    padding: 20px 15px;
    border: 1px solid #ccc;
    margin: 10px
    

    text-align center;
    padding: 50px; 
    background-color: white(248, 245, 245, 0.822);

    .custome-heading{
        font-family: 'Courier New', Courier, monospace;
        font-size: 30px;
        color: white;
    }
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    margin-left: 20px;
    

}

.nav-links a {
    text-decoration: none;
    color: white(8, 8, 8);
    font-weight: bold;
    
}

.hero {
    

    padding: 100px 20px; 
    text-align: center; 
    background-color: grey(0, 0, 0, 0.5);
    
}
.text-box{
    border: 2x solid rgb(130, 113, 168);
    padding: 10px;
    background-color: rgb(204, 197, 197);
    width: fit-content;
}


.text-box{
    border: 2x solid white;
    padding: 10px;
    background-color: rgb(204, 197, 197);
    width: fit-content;
}
.text-box{
    border: 2x solid white;
    padding: 10px;
    background-color: rgb(204, 197, 197);
    width: fit-content;
}

.text-box{
    border: 2x solid white;
    padding: 10px;
    background-color: rgb(204, 197, 197);
    width: fit-content;
}


.hero-content h1 {
    font-size: 48px;

    font-size: 3em;
    color: #0e0d0d;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
    margin: 0; 
    opacity: 1; 
    transition: opacity 1s ease;

    
}

.hero-content p {
    font-size: 20px;
    margin: 20px 0;
}



#services {
    padding: 50px 20px;
    text-align: center;
    background-color: #ee2020;
}

#services h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.services-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}




footer {
    background-color: #333;
    color: rgb(14, 13, 13);
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;

    text-align: center; 
    padding: 20px; 
    background-color: rgba(0, 0, 0, 0.5);
}

